.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/eslint.config.js
**/*.map
**/*.ts
**/.vscode-test.*
avroviewer-ui/.gitignore
avroviewer-ui/src/**
avroviewer-ui/node_modules
